# Config file for automatic testing at travis-ci.com

language: python
python:
  - 3.8
  - 3.7
  - 3.6

before_install:
    # Here we download miniconda and install the dependencies
    - export MINICONDA=$HOME/miniconda
    - export PATH="$MINICONDA/bin:$PATH"
    - hash -r
    - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -f -p $MINICONDA
    - conda config --set always_yes yes
    - conda update conda
    - conda info -a
    - conda create -n testenv python=$TRAVIS_PYTHON_VERSION mpich-mpicc
    - source activate testenv
#    - python --version
#    - pip install -U pip
#    - pip install -U pytest

#env:
#  global:
    # List package dependencies for conda
    - CONDA_DEPS="netCDF4 dask distributed xarray h5py mpi4py"
    # package name for test invocation
    - PACKAGENAME="MODIS_Aggregation"

#install:
#    - pip install mpich
#    - pip install mpi4py
#    - pip install -r requirements_dev.txt


## Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
    - pip install -r requirements_dev.txt
    - pip install pytest
#
# Command to run tests, e.g. python setup.py test
script: pytest tests/test_addition.py

# Assuming you have installed the travis-ci CLI tool, after you
# create the Github repo and add it to Travis, run the
# following command to finish PyPI deployment setup:
# $ travis encrypt --add deploy.password
#deploy:
#  provider: pypi
#  distributions: sdist bdist_wheel
#  user: sdeshpa1
#  password:
#    secure: PLEASE_REPLACE_ME
#  on:
#    tags: true
#    repo: sdeshpa1/MODIS
#    python: 3.8
